#img1 {background-image: url(../img/hamburguesa.jpg);}
#img2 {background-image: url(../img/hamburguesa.jpg);}
#img3 {background-image: url(../img/hamburguesa.jpg);}
#img4 {background-image: url(../img/hamburguesa.jpg);}
#img5 {background-image: url(../img/hamburguesa.jpg);}