#img1 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img2 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img3 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img4 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img5 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img6 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img7 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img8 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img9 {background-image: url(../img/categoria-hamburguesas.jpg);}
#img10 {background-image: url(../img/categoria-hamburguesas.jpg);}
