#img1 {background-image: url(../img/categoria-lomitos.jpg);}
#img2 {background-image: url(../img/categoria-lomitos.jpg);}
#img3 {background-image: url(../img/categoria-lomitos.jpg);}
#img4 {background-image: url(../img/categoria-lomitos.jpg);}
#img5 {background-image: url(../img/categoria-lomitos.jpg);}